.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.composer.lock
.idea
vendor
*.log
thinkphp
.env
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
runtime
config/app.php
config/database.php
storage/logs/*

