.activity {
    border-bottom: 2px solid #1ca9e6;
    color: #1ca9e6 !important
}

.activity-grey {
    border-bottom: 2px solid #a3a3a2;
}

.activity-red {
    border-bottom: 2px solid #e60033;
}

.activity-yellow {
    border-bottom: 2px solid #cd5e3c;
}

.activity-green {
    border-bottom: 2px solid #c7dc68;
}

.activity-blue {
    border-bottom: 2px solid #89c3eb;
}

.color-red {
    color: #e60033;
}

.color-yellow {
    color: #fcc800;
}

.color-green {
    color: #c7dc68;
}

.color-blue {
    color: #89c3eb;
}

.color-grey {
    color: #a3a3a2;
}


.bottom-grey {
    border-top: 10px solid #e4e3e3;
}

.position-r {
    position: relative
}

.position-a {
    position: absolute
}

.hide {
    display: none
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.required-after:after {
    color: red;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}

.border-s{
    border: #0C0C0C solid 1px;
}

[readonly] {
    background-color: #f1f1f1;
}
